
    {% extends 'myapp/base.html' %}

{% block body_block %}
<body>
    <h2>List of Available Courses</h2>
    {% if courselist %}
    <table style="width:100%;text-align:center;" border="1">
  	<tr>
    <th>Course ID</th>
    <th>Course Name</th>		
    
  </tr>
        {% for course in courselist %}
  <tr>

    <td><font size="5"> <a href="/myapp/detail/{{ course.course_no }}">{{course.course_no}}</a></font></td>
    <td><font size="5">{{ course.title }}</font></td>		
    
  </tr>
  {% endfor %}
    </table>
    
    
    
    {% else %}
        <strong>There are no available courses!</strong>
    {% endif %}
<a href="{% url 'myapp:mycourses' %}"><p text-align="center">Look for My Courses</p></a>

	<p> This is your lucky number : {{number}}</p>
</body>
{% endblock %}
    
